*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    max-width: 1250px;
    margin: auto;
    background-color: #FFFFFF;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    width: 139px;
    height: 60px;
    margin: 16px;
}

.container .nav-menu{
    display: flex;
    list-style: none;
    gap: 32px;
}

.container .nav-menu a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.nav-btn{
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 4px;
    background-color: #30B868;
    border: none;
    color: white;
    cursor: pointer;
}

.banner-section{
    height: 600px;
    background-image: url("assets/hero-bg.png");
    background-size: cover;
    text-align: center;
    color: white;
    padding: 80px 0;
}

.banner-section .banner-container h3{
    font-size: 16px;
    font-weight: 500;
    border-radius: 1000px;
    background-color: #FFFFFF;
    color: #30B868;
    padding: 8px 12px;
    display: inline-block;
    width: 229px;
    margin-bottom: 16px;
    border: 1px solid black;
}

.banner-section .banner-container h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    margin-bottom: 16px;
}

.banner-section .banner-container .text-color{
    color: #30B868;
}

.banner-section .banner-container p{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
}

.banner-btn{
    display: flex;
    justify-content: center;
    gap: 16px;
    cursor: pointer;
}

.banner-btn button{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    border-radius: 4px;
    padding: 12px 16px;
    cursor: pointer;
    border: none;
}

.primary-btn{
    background-color: #30B868;
    color: #FFFFFF;
}

.primary-btn img{
    width: 20px;
    height: 20px;
}

.note-section{
    max-width: 1250px;
    margin: auto;
    text-align: center;
}

.note-section h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-top: 36px;
    margin-bottom: 16px;
}

.note-section p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 16px;

}

.card-content{
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    padding: 24px;
    text-align: center;
    margin-bottom: 72px;
    height: 100%;
}

.card-content img{
    background-color: rgba(249, 85, 85, 1);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 2.5px 5.5px;
    margin: 14.38px 14.07px 13.62px 13.93px;
}

.card-content h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    margin-bottom: 16px;
}

.card-content p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}

.solution-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
    margin-bottom: 120px;
}

.solution-img{
    width: 600px;
    height: 600px;
    border-radius: 12px;
}

.solution-text h3{
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
}

.solution-text h1{
    text-align: left;
    font-size: 48px;
    font-weight: 700;
    font-style: bold;
    margin-top: 16px;
    color: #001931;
}

.solution-text p{
    text-align: left;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 40px;
}

.check-list{
    display: flex;
    justify-content: flex-start;
    gap: 6px;
    margin-bottom: 16px;
}

.check-list img {
    width: 20px;
    height: 20px;
}

.check-list p{
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
    color: black;
}

.ready-section{
    border-radius: 12px;
    padding: 80px 40px;
    background-color: rgba(247, 246, 242, 1);
    margin-bottom: 120px;
}

.ready-section h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 16px;
}

.ready-section p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
}

.ready-section button{
    margin-bottom: 16px;
}

.ready-section .free{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}

footer{
    height: 348px;
    background-color: var(--Style, rgba(0, 25, 49, 1));
    padding: 120px 120px 30px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.footer-logo{
    width: 139px;
    height: 60px;
}

.footer-text h3{
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-right: 107px;
    margin-bottom: 16px;
}

.social-logo{
    color: white;
    margin-right: 118px; 
    display: flex; 
    gap: 16px;
    cursor: pointer;
}

.footer-bottom{
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

footer hr{
    border: 1px solid var(--DS New/Colors/Stroke/Gray-Light, rgba(229, 231, 235, 1));
    opacity: 0.2;
}


